<div>
    <br><br>
    <h2>Mis Estudios</h2>
</div><br>
    <div class="row">
     <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Developer Web FullStack</h5>
            <p class="card-text">"Argentina Programa 4.0." Actualmente estudiando, (Segunda etapa del programa)
                2022-2023. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                 <div class="card-body">
            <h5 class="card-title"> Tecnicatura Superior en Gestion de Obras Sociales.</h5>
            <p class="card-text"> IPAP (actualmente estudiando 2023) </p>
        </div>
    </div>
    </div><br>
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Developer Junior </h5>
            <p class="card-text"> "Sé Programar" Certificado por Argentina Programa, Inti, Ministerio de Economia
                de la Nación Argentina. Etapa "Sé Programar" .Junio - Agosto 2022. (Con Certificado).</p>
        </div>
    </div>
</div>
</div><br><br>
<div class="row">
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Poda de Frutales</h5>
            <p class="card-text"> 2022. Municipalidad de General Roca.Rio Negro. </p>
        </div>
    </div> 
   </div><br>
        <div class="col-sm-6">
            <div class="card">
                 <div class="card-body">
             <h5 class="card-title"> Call Center</h5>
            <p class="card-text"> Capacitación Laboral, Claro Arg. (120 hs).Neuquen Capital, 2015. </p>
        </div>
    </div>
</div>
</div><br><br>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
             <div class="card-body">
            <h5 class="card-title">Estrategias de inserción social de los adultos mayores.</h5>
            <p class="card-text"> Universidad Nacional del Comahue. Septiembre 2015.(con certificado). </p>
        </div>
    </div>
    </div><br>
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Intervención en Conflictos familiares desde el Poder Judicial.</h5>
            <p class="card-text"> Octubre 2015( con certificado) Universidad Nacional del Comahue. </p>
        </div>
    </div>
</div> 
  </div><br><br>
<div class="row">
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Licenciatura en Servicio Social</h5>
            <p class="card-text">Universidad Nacional del Comahue,(incompleto 3er año).2014-2017. General Roca
                R.N.</p>
        </div>
    </div>
</div><br><br>
<div class="col-sm-6">,
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Gestión Empresarial.</h5>
            <p class="card-text"> Título Secundario.Centro de Educación Media. N° 116. General Roca R.N. </p>
        </div>
    </div>
</div>
</div><br><br>
    <div class="row">
         <div class="col-sm-6 mb-3 mb-sm-0">
             <div class="card">
                <div class="card-body">
            <h5 class="card-title">Catedra Libre Natalio Kirsnerman</h5>
            <p class="card-text">Universidad Nacional del Comahue, 2014.</p>
        </div>
    </div>
</div><br>
        <div class="col-sm-6">
            <div class="card">
             <div class="card-body">
            <h5 class="card-title">Catedra Libre Natalio Kirsnerman</h5>
            <p class="card-text"> Universidad Nacional del Comahue,2015. </p>
        </div>
    </div>
</div>
</div>