 <div><br><br>
    <h2> Mi Experiencia Laboral</h2>
    </div><br>
  <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Emprendimiento Propio</h5>
                        <p class="card-text"> 02/2023 (actualmente) Atencion Al Cliente y Administradora de
                            Recursos.General Roca. Rio Negro. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Niñera Medio tiempo</h5>
                        <p class="card-text"> 2018 (5 meses)- Medio
                            tiempo. Allen. Cese por motivos de
                            distancia. Empleadora: Analia Quintana. Cel:
                            2984505823.</p>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Camarera</h5>
                        <p class="card-text"> 2018 (2 meses) Jornada completa.Restaurante “Apesar de todo”
                            Neuquén Capital. Cese por motivos de distancia. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Empleada domestica, Encargada de liquidación de cuentas y
                            compras de consumo.</h5>
                        <p class="card-text"> 2014-2016 (1 año y 6 meses.)casa particular. Cese por motivos
                            personales. General Roca.Empleadora: Elida Gimenez. </p>
                    </div>
                </div>
        </div><br>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Empleada Administrativa</h5>
                    <p class="card-text"> 2007- 2008 Metalurgica NPC.(1 año) - tareas realizadas: Atención al
                        Cliente, organización de datos y archivos administrativos, atención de llamadas y
                        organizacion de agenda.(cese por Cierre de la Metalurgica).General Roca. Rio Negro. </p>
                </div>
            </div>
        </div>