<div><div class="row">
  <div class="col-xs-12 col-sm-4 sol-md-4 col-lg-6">
    <img src="../../../assets/imagecv.png" class="img_fluid">
    <p id="nombre">Evelyn Valeria Salazar</p>
    <p> Full Stack Developer</p>
  </div>
  <div class="col-md-6">
    <span>
        <h1>Sobre Mi....</h1>
        <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam nesciunt, aut nostrum explicabo, asperiores impedit placeat, id ex tempora amet rem molestiae? Id magnam ad, molestias pariatur doloribus hic.</p>
    </span>
</div>
</div>
