<div class="container">
<div class="card text-center">
    <div class="card-header">
    <b>LOGIN</b>
    </div>
    <form ngClass="form-control">
    <div class="card-body">
        <input type="email" class="form-control m-2"  placeholder="ingrese su email" [(ngModel)]="usuario.email" ngModel="email" >
        <label style="float:left;"> Email</label>
        <br><br>
        <input type="password" class="form-control m-2"  placeholder="ingrese su password" [(ngModel)]="usuario.password" ngModel="password">
        <label style="float:left;"> Password</label> 
        <br><br>

        <button class="btn btn-primary btn-block m-2" (click)="editar()">Ingresar</button>
        <br><br>

        <label>Aun no tienes Cuenta? <a href="registro">Registrarse</a> </label>
    </div>
</form>
  </div>
</div>