<form [formGroup]="form"  >
    <b>LOGIN</b>
    <div>
      <label style="float:left;" for="email"> Email</label>
        <input type="email"  formControlName="email" placeholder="ingrese  email" >
        <br><br>
        <label class="form-label" for="InputPassword"  style="float:left;"> Password</label> 
        <input type="password"  placeholder="ingrese password" >
        <br><br>
        <button class="btn btn-primary btn-block m-2" type="submit" (ngSubmit)="onLogin()">Iniciar sesión</button> 
        <br><br>
        </div>
      </form>   
