<div class="container-fluid">
<div><br><br>
<h1>Skills </h1>
<br></div>
<div>
    <h1>HTML</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-info text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            </div>
            <div class="progress">
                <span>50%</span>
            </div>
        </div>
<br>
<div>
    <h1>CSS</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            </div>
            <div class="progress">
                <span>40%</span>
            </div>
        </div>
<br>
<div>
    <h1>JavaScript</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-info text-dark" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
            </div>
            <div class="progress">
                <span>30%</span>
            </div>
        </div>
<br>
<div>
    <h1>TypeScript</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"aria-valuemax="100" style="width: 50%">
            </div>
            <div class="progress">
                <span>50%</span>
            </div>
        </div>
<br>
<div>
    <h1>Angular</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-info text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0"aria-valuemax="100" style="width: 50%">
            </div>
            <div class="progress">
                <span>50%</span>
            </div>
        </div>
<br>
<div>
 <h1>Base de Datos</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-success " role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            </div>
            <div class="progress">
                <span>70%</span>
            </div>
        </div>
<br>
<div>
    <h1>Java</h1>
</div><br>
        <div class="progress progress">
            <div class="progress-bar bg-info text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            </div>
            <div class="progress">
                <span>50%</span>
            </div>
        </div>
    <br>
    <br>
    <br>
</div>